
@media(min-width:576px){
  
/*GENERAL SETTINGS*/
 
    section h2 {
    font-size: 2.25rem;
    margin-bottom: 1.15rem;
    }
    
    section h4 {
    font-size: 1.25rem;
    margin-bottom: 2.75rem;
    }
    
    section p {
    margin-bottom: 2.75rem;
    }
    
    .typical-paddings {
    padding: 60px 0;
    }

    
 /*TOP*/  
 
    .top,
    .parallax {
    padding: 300px 0;
    }

    #top-title {
        font-size: 2rem;
    }
 
/* ABOUT */

    .about article {
    margin-bottom: 4.125rem;
    }
    
/* PARALLAX */

    .parallax article {
    margin: 0 auto;
    width: 70%;
    }
    
/* SUBSCRIBE */

.subscribe form {
    width: 50%;
}

    
}


@media(min-width:768px){
  
 /*GENERAL SETTINGS*/
 
    html {
    font-size: 16px;
    }
 
    section h2 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    }
    
    section h4 {
    font-size: 1.3125rem;
    margin-bottom: 3rem;
    }
    
    section p {
    margin-bottom: 3rem;
    }
    
    .typical-paddings {
    padding: 75px 0;
    }

/*HEADER*/

    .navbar-brand{
        font-size: 2.5rem;
    }
 
 /*TOP*/  
 
    .top,
    .parallax {
    padding: 275px 0;
    }

    #top-title {
        font-size: 2.75rem;
    }
 
/* ABOUT */

    .about article {
    margin-bottom: 4.5rem;
    }
    
/* PARALLAX */

    .parallax article {
    margin: 0 auto;
    width: 60%;
    }
    
 /* PORTFOLIO */

    .portfolio article {
        margin-bottom: 80px;
    }

    
/* FOOTER */ 

    footer .social li {
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 12px;
    }
    
    footer .social li .fa {
    font-size: 24px;
    color: #fff;
    }

    .copyright {
    font-size: 1rem;
    margin-bottom: 0;
    } 

} 


@media(min-width:992px){

/*GENERAL SETTINGS*/

    section h2 {
    font-size: 3rem;
    margin-bottom: 1.375rem;
    }
    
    section h4 {
    font-size: 1.375rem;
    margin-bottom: 3.5rem;
    }
    
    section p {
    margin-bottom: 3.5rem;
    }
    
    .typical-paddings {
    padding: 90px 0;
    }

/*HEADER*/

    .navbar-brand{
        font-size: 3rem;
    }
 
 /*TOP*/  
 
    .top,
    .parallax {
    padding: 350px 0 265px;
    }
 
    #top-title {
    font-size: 3.5rem;
    }
    
 /* ABOUT */

    .about article {
    margin-bottom: 0;
    }
    
    .about figure {
    margin: 0;
    }
    
 /* TEAM */  
    .team article {
    margin-bottom: 0;
    }
   
/* PARALLAX */

    .parallax article {
    margin: 0 auto;
    width: 50%;
    }
    
/* PRINCIPLES */

    .principles figure {
    margin-bottom: 0;
    }
    
    .principles article {
    margin: 0;
    }
    
/* PORTFOLIO */

    .portfolio article {
        margin-bottom: 0;
    }

    
/* SUBSCRIBE */
    
 .subscribe form {
    width: 70%;
    }
    
}


@media(min-width:1200px){
    
/*GENERAL SETTINGS*/

    section h2 {
    font-size: 3.75rem;
    margin-bottom: 1.5rem;
    }
    
    section h4 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    }
    
    section p {
    margin-bottom: 4rem;
    }
    
    .typical-paddings {
    padding: 130px 0;
    }

/*HEADER*/

    .nav-item {
    background-color: transparent;
    text-align: right;
    margin-left: 15px;
    border-bottom: none;
    }
    
/*TOP*/  
 
   .top,
   .parallax {
       padding: 400px 0 315px;
    }
   
   #top-title {
       font-size: 5rem;
    }
    
/* SUBSCRIBE */

.subscribe form {
    max-width: 800px;
    }
    
         
  
}




