
@media(min-width:576px){
   
 /*TOP*/  
 
    .top {
    padding: 200px 0 150px;
    }

    .top p{
        font-size: 2rem;
    }
    
}


@media(min-width:768px){
  
 /*GENERAL SETTINGS*/
 
    body {
    font-size: 1.15rem;
    }
    
 /*TOP*/  
 
    .top {
    padding: 250px 0 200px;
    }

    
    .top p{
        font-size: 2.5rem;
    }
    
} 


@media(min-width:992px){

/*HEADER*/

    .navbar-brand{
        font-size: 3rem;
    }

    .nav-item {
        background-color: transparent;
        text-align: left;
        margin-left: 8px;
        border-bottom: none;
    }
 
 /*TOP*/  
 
    .top {
    padding: 350px 0 265px;
    }
 
    .top p{
        font-size: 3rem;
    }
      
}


@media(min-width:1200px){
    
/*GENERAL SETTINGS*/

    h2 {
    font-size: 3.75rem;
    }

/*HEADER*/

    .nav-item {
       margin-left: 15px;
    } 
    
/*TOP*/  
 
   .top {
       padding: 400px 0 315px;
    }
   
   .top p{
       font-size: 4rem;
    }
   
}




