/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/


/* GENERAL SETTINGS */

html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.bg-orange {
    background-color: #f7cc4b;
}

.text-orange {
    color: #f7cc4b;
}

.bg-black-222 {
    background-color: #222222;
}

.text-black-222 {
    color: #222222;
}

.text-grey-b1 {
    color: #b1b1b1;
}

.text-grey-bbb {
    color: #bbbbbb;
}

.text-grey-444 {
    color: #444;
}

.text-grey-666 {
    color: #666;
}

img {
    max-width: 100%;
}

.typical-paddings {
    padding: 60px 0;
}

section h2 {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

section h4 {
    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

section p {
    margin-bottom: 2.5rem;
}


/* HEADER */

.navbar-brand {
    font-size: 2rem;
    font-weight: 900;
}

.navbar-light .navbar-toggler {
    border-color: #fff !important;
}

.navbar-light .navbar-toggler:hover {
    background-color: #f7cc4b; !important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
    color: #b1b1b1;
    transition: 0.5s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #fff;
}

.nav-item {
    background-color: #f7cc4b;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #b1b1b1;
}

.nav-item:last-of-type {
    border-bottom: none;
}


/* Section TOP, TOP/PARALLAX */

.top,
.parallax {
    padding: 200px 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}

/*.top:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;*/
/*    height: 120px;*/
/*    background-size: 100% 100%; 
    z-index: 3;
    background-image: url("img/skew-full-bottom-ccw-png");*/


#top-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
}

.top figure {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%; 
    z-index: 3;
    background-image: url("img/skew-full-bottom-ccw-png");
} 


/* Section ABOUT */

.about article {
    margin-bottom: 4rem;
}


/* Section VIDEO */


/* Section TEAM */

.team article {
    margin-bottom: 60px;
}
 
.team figure {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden; 
    margin: 0 auto 24px;
}

.team figure img {
    display: block;
    width: 220px;
    height: 220px;
    border-radius: 50%;  
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    line-height: 220px;
    background-color: rgba(247, 204, 75, 0.9);
    display: none; 
}

.team-hover ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.team-hover ul li {
    float: left;
}

.team-hover ul li:first-of-type {
    margin-right: 15px;
}

.team-hover a {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    text-decoration: none;
}

.team-hover a:hover {
    background-color: #222;
}

.team-hover .fa {
    line-height: 44px;
    font-size: 24px; 

.team article:hover .team-hover {
    display: block;
}

.team article h5 {
    font-size: 1.25rem;
} 

.team article h5 a:hover {
    text-decoration: none;
}


/* Section PARALLAX */

.parallax article {
    margin: 0 auto;
    width: 90%;
}

.parallax h2 {
    font-weight: 300;
}


/* Section PRINCIPLES */

.principles figure {
    margin-bottom: 4rem;
}


/* Section PORTFOLIO */

.portfolio article {
    max-width: 280px;
    margin-bottom: 40px;
}

.portfolio figure {
    position: relative;
}

.portfolio figure img {
    max-width: 100%;
    display: block;
}

.portfolio figure .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: none;
}

.portfolio .hover a {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
}

.portfolio .hover .fa {
    line-height: 60px;
    font-size: 18px;
    color: #000;
}

.portfolio article:hover .hover {
    display: block;
}


/* Section ACHIEVEMENTS */

.achievements-wrapper {
    border-bottom: 1px solid #eee;
}

.achievements article h3 {
    font-size: 5.25rem;
}

.achievements article h5 {
    font-size: 5.25rem;
    font-weight: 400;
}

.achievements h6 {
    font-size: 1rem;
    font-weight: 400;
}

.achievements-item {
    margin-bottom: 60px;
}

.achievements .blockquote {
    padding-top: 60px;
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

.achievements .blockquote p {
    font-size: 1.6875rem;
}


/* Section SUBSCRIBE */

.subscribe form {
    width: 80%;
    max-width: 800px;
}

.subscribe #name,
.subscribe #email {
    background-color: #f7cc4b;
    color: #fff;
    border: 2px solid #fff;
    margin-bottom: 20px;
}

.subscribe #subscribe-button {
    background-color: #222;
    border-color: transparent;
    color: #fff;
}

.subscribe #subscribe-button:hover {
    background-color: #f7cc4b;
    border: 1px solid #222;
    color: #222;
}

input:-webkit-input-placeholder {
color: #fff !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
}
 
input:-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
input:-ms-input-placeholder {  
color: #fff !important;  
}


/* FOOTER */

footer .social {
    margin-bottom: 30px;
    padding: 0;
    list-style-type: none !important;
    text-align: center;
}

footer .social li {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 6px;
}

footer .social li:last-of-type {
    margin-right: 0;
}

footer .social li .fa {
    font-size: 18px;
    color: #fff;
}

footer .social li a {
    color: #fff;
    text-decoration: none;
}

footer .social li:hover {
    color: #f7cc4b;
}

footer .social li:hover {
    background-color: #f7cc4b;
}

.copyright {
    font-size: 0.85rem;
    margin-bottom: 0;
}

.copyright a:hover {
    text-decoration: none;
}

.copyright a span:hover {
    color: #fff;
}
